.aboutContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: max-content;
  max-width: 1400px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.img1 {
  width: 400px;
  height: 600px;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  filter: blur(10px);
  transition: all 0.3s ease-in-out;
}
.img1:hover {
  filter: blur(0px);
}
.aboutMe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.aboutMe .skill-logos {
  width: 450px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}
.aboutMe .skill-logos .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.aboutMe .skill-logos img {
  width: 40px;
  place-content: center;
  transition: all 0.3s ease;
}
.aboutMe .skill-logos img:hover {
  scale: 1.5;
}

.introText {
  width: 450px;
  margin: 2rem;
}

.introText p {
  line-height: 1.5rem;
  padding-left: 1.5rem;
  color: #ccc;
  text-align: justify;
}
.introText h3 {
  font-size: 2.5rem;
  padding: 1.5rem;
  font-family: var(--ffGoku);
}
.introText h3 span {
  background: linear-gradient(
    to right,
    var(--sec),
    var(--primary),
    #d62828,
    #ff006e,
    #ffd60a,
    #ff5400,
    #06d6a0,
    #9bf6ff,
    #7400b8,
    #9ef01a,
    #ff0a54,
    #f20089,
    #25a18e,
    #2196f3,
    #a5ffd6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 20s infinite linear;
  background-size: 1000% auto;
  font-family: var(--ffGoku);
}
.introText h3 span:hover {
  animation: gradientAnimation 5s infinite linear;
}
.skillTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--ffGoku);
  margin: 1rem;
}
.skillTitle .title-out {
  font-family: var(--ffGoku);
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: var(--sec);
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
}
.skillTitle .title {
  font-family: 'Goku';
  font-size: 2rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .img1 {
    width: calc(100% - 80px);
    height: 300px;
    margin: 0rem;
    margin-top: 1rem;
  }
  .aboutMe .skill-logos {
    width: calc(100% - 40px);
  }
  .introText {
    width: calc(100% - 40px);
    margin: 2rem;
  }
  .aboutMe .skill-logos {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 425px) {
  .aboutContainer {
    flex-direction: column;
    height: auto;
  }
  .img1 {
    width: calc(100% - 40px);
    height: 300px;
    margin: 0rem;
    margin-top: 1rem;
  }
  .aboutMe .skill-logos {
    width: calc(100% - 40px);
    margin-bottom: 2rem;
  }
  .introText {
    width: calc(100% - 40px);
    margin: 1rem;
  }
  .introText h3 {
    font-size: 2rem;
    padding: 0rem;
  }
  .introText p {
    line-height: 1.5rem;
    padding-left: 0rem;
    margin-top: 0.5rem;
  }
  .aboutMe .skill-logos {
    grid-template-columns: repeat(4, 1fr);
  }
}
