.projectcard-container {
  width: 300px;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #202020;
  /* border: 1px solid #0acf83;
  box-shadow: 0px 4px 4px rgba(10, 207, 131, 0.25); */
  border-radius: 12px;
}

.projectcard-container .pc-body .projectPreview {
  width: 280px;
  height: 234px;
  overflow: hidden;
  background: #d9d9d9;
  border-radius: 12px;
}
.projectcard-container .pc-body .projectPreview img {
  width: inherit;
  height: inherit;
}
.projectcard-container .pc-body .callTOAction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.5rem;
}
.projectcard-container .pc-body .callTOAction .livePreview {
  background: #0acf83;
  border-radius: 5px;
  padding: 10px;
}
.projectcard-container .pc-body .head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  margin: 0.5rem;
}
.projectcard-container .pc-body .head .project-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.projectcard-container .pc-body .head .project-desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
