nav {
  width: 100%;
  /* height: 60px; */
  display: flex;
  justify-content: center;
  /* position: fixed;
  top: 0;
  left: 0; */
}

nav .navContainer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}
nav .navContainer .logo p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--ffGoku);
}
nav .navContainer .logo p span {
  color: var(--sec);
}

nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 1rem; */
  gap: 1rem;
}

nav .nav-list .nav-item {
  cursor: pointer;
  font-family: 'TrumpGothic';
}
nav .nav-list :hover {
  cursor: pointer;
  color: var(--sec);
}
nav .nav-list .active {
  cursor: pointer;
  color: var(--sec);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.navContainer .hamburgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  display: none;
}
.navContainer .hamburgerMenu .line1 {
  background: #fff;
  width: 30px;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.navContainer .hamburgerMenu .line2 {
  background: #fff;
  width: 30px;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.navContainer .hamburgerMenu .line1.open {
  transform: rotate(45deg) translateX(4px);
}
.navContainer .hamburgerMenu .line2.open {
  transform: rotate(-45deg) translateX(4px);
}

@media (max-width: 768px) {
  nav .navContainer {
    padding: 0.5rem 0rem;
  }
  nav .nav-list {
    flex-direction: column;
    display: none;
  }
  nav .navContainer.expand {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 11;
    overflow: hidden;
    padding: 0.5rem 0rem;
    background: #202020;
  }
  nav .navContainer.expand .nav-list {
    display: flex;
  }
  nav .navContainer .logo {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
  .navContainer .hamburgerMenu {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav .nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--ffGoku);
    font-size: 2rem;
  }

  nav .nav-list .active::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: var(--sec);
    top: 50%;
    margin-left: 1rem;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 425px) {
  nav .nav-list .active::after {
    width: 60px;
  }
}
