nav {
  width: 100dvw;
  display: flex;
  align-items: center;
  position: relative;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
}

nav .container .logo {
  font-size: 28px;
  font-family: 'Goku';
}
nav .container .logo .dot {
  font-size: 28px;
  font-family: 'Goku';
  color: var(--primary);
}
nav .container .hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  position: relative;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0.5rem;
}
nav .container .hamburger .line1,
nav .container .hamburger .line2 {
  display: block;
  background: #fff;
  width: 30px;
  height: 1px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

nav .container .hamburger .line1.open {
  transform: rotate(225deg) translate(-4px);
}
nav .container .hamburger .line2.open {
  transform: rotate(-225deg) translate(-4px);
}

.linear-color {
  background: radial-gradient(#6947ef 100%, #010101 20%);
  background-repeat: no-repeat;
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  opacity: 0.4;
  filter: blur(200px);
  opacity: 0.6;
  top: -500px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 768px) {
  .linear-color {
    top: -300px;
    width: 440px;
    height: 440px;
  }
  nav .container {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 425px) {
  .linear-color {
    top: -100px;
    width: 300px;
    height: 300px;
  }
  nav .container {
    padding: 1rem 1rem;
  }
}
@media (max-width: 375px) {
  .linear-color {
    top: -100px;
    width: 300px;
    height: 300px;
  }
  nav .container {
    padding: 1rem 1rem;
  }
}
