@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Goku';
  src: url('assets/fonts/goku/Goku.ttf') format('truetype');
}

@font-face {
  font-family: 'TrumpGothic';
  src: url('assets/fonts/trump/TrumpGothicPro.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Raleway', sans-serif; */
  box-sizing: border-box;
}
:root {
  --primary: #6947ef;
  --sec: #0acf83;
  --third: #00d4ff;
  --black: #202020;

  --wfull: 100%;
  --hfull: 100vh;
  --w768: 768px;
  --w425: 425px;
  --w375: 375px;

  --ffGoku: 'Goku';
  --ffTrumpGothic: 'TrumpGothic';
  --ffRaleway: 'Raleway', sans-seri;
  --ffInter: 'Inter', sans-seri;
}
body {
  background: #0f0f0f;
  color: #fff;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.cursor {
  pointer-events: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball circle {
  fill: #fff;
}
.sec {
  width: 100%;
  height: 100vh;
}

.fontEffect {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--ffGoku);
  margin: 0.5rem;
}
.fontTitle-out {
  font-family: var(--ffGoku);
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: var(--sec);
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
}
.fontTitle {
  font-family: 'Goku';
  font-size: 2rem;
}

#splashScreen {
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

#sectionText {
  font-family: 'Goku';
  font-size: 2.5rem;
  letter-spacing: 2px;
  overflow: hidden;
}
#sectionText span {
  all: inherit;
  display: inline-block;
  transform: translateY(80%);
  opacity: 0;
  color: var(--sec);
}
#circularOpening {
  width: var(--wfull);
  height: 100vh;
  background: var(--primary);
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.innerCircleText {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerCircleText {
  font-size: 28px;
  font-family: 'Goku';
}
.innerCircleText .dot {
  font-size: 28px;
  font-family: 'Goku';
  color: var(--primary);
}

@media (max-width: 768px) {
  #sectionText {
    font-size: 2rem;
  }
  .cursor__ball {
    display: none;
  }
}
@media (max-width: 425px) {
  #sectionText {
    font-size: 1rem;
    margin: 0 1rem;
  }
}
@media (max-width: 375px) {
  #sectionText {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }
}
